@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello Word! My name is @Html.Raw(ViewBag.NomeAplicacao) and value for key is @Html.Raw(ViewBag.ValorChave).</p>
</div>
